.cuadroInput{
    position: absolute;
    left: 780px;
    color: white;
    border-style:solid;
    border-color: var(--color1);
    background: var(--color2);
    transform: translateX(-380%);
    /* transform: translateX(-345%); */
}

/* .cuadroBox{ */
    /* position: fixed; */
    /* color: white;
    resize: none;
    text-align: center;
    border-color: var(--color1);
    background: var(--color2); */
    /* margin-left: 50%; */
    /* transform: translateX(-470%); */
    /* transform: translateX(-425%); */
/* } */

/* @media only screen and (min-device-width : 1200px) {
    .cuadroBox{
        transform: translateX(-470%);
    }
}

@media only screen and (max-device-width : 1200px) {
    .cuadroBox{
        transform: translateX(-505%);
    }
} */
/* 
td{
    padding: 0;
    margin: 0;
} */



.cuadroTabla{
    resize: none;
    text-align: center;
    color: white;
    margin: 0;

    /* border-color: var(--color1); */
    border: 3px solid var(--color1);
    background: var(--color2);
}

.cuadroTablaE{
    resize: none;
    text-align: center;
    color: white;
    margin: 0;

    /* border-color: var(--color1); */
    border: 3px solid var(--color1);
    background: linear-gradient(27deg, var(--color2) 50%, var(--color1) 51%, var(--color2) 52%)
}

.tableStyle{
    border-collapse: separate;
    border-spacing: 0px;
}

.tableStyle2{
    border-collapse: separate;
    border-spacing: 0px;
    margin: auto;
    transform: translateY(-775px);
    border-spacing: 80px;
    /* display: block; */
    /* position: absolute; */
    /* top: 350px; */
    /* justify-content: center; */
}


/* 41719c */
/* 6596c8 */

:root{
    --color1: #41719c;
    --color2: #6596c8;

}