
.ruleta_preguntas{
    position: relative;
}



/* @media only screen and (max-device-width : 1200px) {
    .popup_box{
        width: 1200px;
    }
} */

@media only screen and (min-device-width : 1200px) {
    .popup_box, #resultado{
        width: 100%;
    }
}

@media only screen and (max-device-width : 1200px) {
    .popup_box, #resultado{
        width: 1200px;
    }
}

.popup_box{
    position: absolute;
    margin-top: 100px;
    /* width: 100%; */
    /* width: 1200px; */

    user-select: none;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 3px, solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: 0.5s ease-in-out;

    /*CAMBIAR*/
    opacity: 0;
    pointer-events: none;
}

#resultado{
    position: absolute;
    margin-top: 100px;
    /* display: block; */
    /* top: 500px; */
    /* width: 1200px; */

    user-select: none;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 3px, solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: 0.3s ease-in-out;

    /*CAMBIAR*/
    opacity: 0;
    pointer-events: none;
}

.popup_box h1{
    font-size: 30px;
    color: #1b2631;
    margin-bottom: 5px;
    margin-top: 0px;
}

.popup_box .btns{
    margin: 40px 0 0 0;    
}

#resultado h1{
    font-size: 30px;
    color: #1b2631;
    margin-bottom: 5px;
    margin-top: 0px;
}

#resultado .btns{
    margin: 40px 0 0 0;    
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btns .btn{
    background: #999999;
    color: white;
    font-size: 18px;
    padding: 10px 13px;
    border: 1px solid #808080;
    border-radius: 5px;

} 

.btns .btnOk{
    background: #41aa53;
    color: white;
    font-size: 18px;
    padding: 10px 13px;
    border: 1px solid #808080;
    border-radius: 5px;

} 

.btns .btn:hover{
    transition: 0.5s;
    background: #727272;
}

.btns .btnOk:hover{
    transition: 0.5s;
    background: #358542;
}



/* 
#puntajeFinal{
    margin: auto;
    margin-left: 4rem;
    font-size: 2rem;
    color: white; 
} */


#intentos{
    position: absolute;
    background: #2981bc;
    border: 1px solid #0059b3;
    padding: 10px;
    border-radius: 10px;

    margin: auto;
    margin-left: 10rem;
    font-size: 2rem;
    color: white; 
}



#canvas{
    display: flex;
    margin: auto;
    
    /* width: 100%; */
}


#girar{
    display: flex;
    margin: auto;
    /* background: #2981bc; */
    background: #29bc30;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #189c1f;
    border-radius: 5px;
    margin-bottom: 50px;
    /* pointer-events: auto; */
}

#girar:hover{
    background: #3acf5f; 
}


